.input--1 {
  width: 100%;
  padding: 1rem 2rem;
  border: none;
  font-size: 2rem;
  background-color: transparent;
  transition: all 0.2s;
  font-weight: 400;
  border-bottom: 1px solid #06b8b8;
  color: white;
}
.input--1-error {
  border-bottom: solid red;
  border-width: 3px;
  color: red;
}

.input--1::placeholder {
  font-size: 1.4rem;
  letter-spacing: 2px;
  font-weight: 100;
  color: white;
}

.input--1:focus {
  outline: none;
}

.login__input:focus-within {
  width: 100%;
  color: #06b8b8;
  border-bottom: 3px solid #06b8b8;
}

.input__icon {
  fill: currentColor;
  width: 2rem;
}
