.login__bg {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(../../assets/Images/login.png);
  background-size: cover;
}

.login__bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  opacity: 0.3;
}

.login__container {
  position: absolute;
  width: 50rem;
  height: 50rem;
  padding: 3rem 7rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: vanish 1s;
}

.login__logo-icon {
  flex: 0 0 22%;
  fill: white;
  margin-bottom: 3rem;
}

.login__form {
  flex: 0 0 60%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@keyframes vanish {
  0% {
    opacity: 0;
    transform: translate(-45%, -50%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
