.notif__bg {
  position: fixed;
  min-width: 30rem;
  max-width: 65%;
  background-color: white;
  height: 8rem;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
  border-radius: 0px 10px 10px 0px;
  padding: 2rem;
  opacity: 0;
  visibility: hidden;
  animation: notifacation 3s;
}

.notif__bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3%;
  height: 100%;
  background-color: currentColor;
}

.notif__time {
  position: absolute;
  width: 2rem;
  left: 0;
  right: 0;
  top: 95%;
  background-color: currentColor;
  z-index: 300;
}

.notif__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1rem;
  color: currentColor;
}

.notif__icon {
  width: 1.5rem;
  fill: currentColor;
  margin-right: 1rem;
}

.notif__para {
  color: black;
  font-size: 1.4rem;
  font-weight: 500;
}

@keyframes notifacation {
  0% {
    opacity: 0;
    visibility: hidden;
    top: 100%;
    left: 50%;
  }

  5% {
    opacity: 1;
    visibility: visible;
    top: 80%;
    left: 50%;
  }

  80% {
    opacity: 1;
    visibility: visible;
    top: 80%;
    left: 50%;
  }
  95% {
    opacity: 0.5;
    visibility: visible;
    left: 70%;
    top: 80%;
  }
  99% {
    opacity: 0;
    visibility: visible;
    left: 80%;
    top: 80%;
  }

  100% {
    opacity: 0;
    visibility: hidden;
    top: 100%;
    left: 50%;
  }
}
